rules_version = '2';

// Publique este arquivo em: Firebase Console > Firestore Database > Regras > Publicar

service cloud.firestore {
  match /databases/{database}/documents {

    match /transacoes/{transacaoId} {

      allow read: if request.auth != null
                  && request.auth.uid == resource.data.userId;

      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId
                    && request.resource.data.valor is number
                    && request.resource.data.valor > 0
                    && request.resource.data.data is string
                    && request.resource.data.tipo in ['ENTRADA', 'SAIDA']
                    && request.resource.data.tipo_mov in ['INTERNO', 'EXTERNO'];

      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
